.seal27stamp {
            width: 40mm;
            height: 30mm;
            border: 1.8pt solid black;
            padding: 0px;
            text-align: center;
            font-family: Arial, sans-serif;
            margin-bottom: 20px;
        }
        .seal27branch-name {
            font-size: 8.5pt;
            font-weight: bolder;
            font-family: corbel;
            margin: 0;
        }

        .seal27branch-name p{
            font-size: 11pt;
            margin: 0px;
            font-family:'Swis721 Cn BT' ;
            font-weight: 100;
            margin-bottom: 15px;
        }

        .seal27reject {
            font-size: 13pt;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .seal27officer {
            font-size: 12pt;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .seal27box{
            width: 40mm;
            text-align: center;
        }

        
.seal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid lightgray;
    padding: 5px;
    width: fit-content;
    background: white;
}
.text {
    margin: 2px 0;
    text-align: center;
}
